---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PostRow from "../components/Blog/PostRow.astro";
import Card from "../components/Card/index.astro";

const posts = (await getCollection("blog"))?.sort(
  (blogEntryA, blogEntryB) =>
    (blogEntryB.data.pubDate || new Date()).getTime() -
    (blogEntryA.data.pubDate || new Date()).getTime()
);
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Óscar Arauz - Projects"
  description="Software developer with strong focus on the AI and Blockchain"
>
  <main
    class="w-screen h-screen flex flex-col justify-start items-start max-w-3xl mx-auto p-8"
  >
    <a
      href="/"
      class="text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 mb-8 border-1 border-solid border-neutral-600 rounded-lg"
      >Back</a
    >
    <h1 class="text-4xl font-bold mb-4 text-neutral-100">Projects</h1>
    <ul class="w-full">
      <Card
        colSpan="md:col-span-1"
        rowSpan="md:row-span-1"
        href="https://sduk.io/"
      >
        <p class="text-yellow-500">SnarkyDuck</p>
        <p class="text-white-500">Founder</p>
      </Card>
      <br />
      <Card
        colSpan="md:col-span-1"
        rowSpan="md:row-span-1"
        href="https://kubecoin.org/"
      >
        <p class="text-pink-500">Kubecoin</p>
      </Card>
      <br />
      <Card
        colSpan="md:col-span-1"
        rowSpan="md:row-span-1"
        href="https://flykube.com/es?srsltid=AfmBOorqG1frMcVghqciygnDQj_6Nr7hASZTSNTw98Cz9oGLIqWtmOTo"
      >
        <p class="text-red-500">Flykube</p>
      </Card>
    </ul>
  </main>
</Layout>
